[*]
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

[{.prettierrc, .eslintrc, jest.config, *.json, *.js, *.jsx, *.ts, *.tsx}]
indent_style = space
indent_size = 2

[.editorconfig]
indent_style = space
indent_size = 4

[*.less, *.scss]
indent_style = space
indent_size = 2

[{tsconfig.lib.json, tsconfig.spec.json, tsconfig.app.json, tsconfig.json, tsconfig.e2e.json}]
indent_style = space
indent_size = 2


[{.analysis_options, *.yml, *.yaml}]
indent_style = space
indent_size = 2

[*.md]
indent_size = 4
